mixin editEducation
  div.cvSection
    table#cvSectionEducation(data-append='name:editorColumnEducationName,course:editorColumnEducationCourse,graduation:editorColumnEducationGraduation', data-mode='last')
      tr
        th.editorColumnVisible.editorAdd
          img(src='/images/badge_plus.png')
        th.editorSectionTitle(colspan=3)= info.education.title
        th.editoreDelete
      each item in info.education.items
        tr(data-id=id.next())
          td.editorColumnVisible
            input(id=name, type='checkbox', checked=item.visible)
          td.editorColumnEducationName
            span.editorClickable(data-id='name')= item.school
          td.editorColumnEducationCourse
            span.editorClickable(data-id='course')= item.course
          td.editorColumnEducationGraduation
            span.editorClickable(data-id='graduation')= item.graduation
          td.editorDelete
            img(src='/images/badge_minus.png')
