mixin editEducation
  div.cvSection
    table#cvSectionEducation(data-record=cv.education._id, data-section='education')
      tr
        th.editorColumnVisible.editorAdd
          img(src='/images/badge_plus.png')
        th.editorSectionTitle(colspan=3)= cv.education.title
        th.editorDelete
      each item in cv.education.items
        tr(data-record=item._id,data-id=id.next())
          td.editorColumnVisible
            input(name='visible_' + id.prev(), type='checkbox', checked=item.visible)
          td.editorColumnEducationName
            span.editorClickable(data-id='name')= item.school
          td.editorColumnEducationCourse
            span.editorClickable(data-id='course')= item.course
          td.editorColumnEducationGraduation
            span.editorClickable(data-id='graduation', data-edit='date', data-format='shortMonthYear', data-raw=item.graduation)= item.graduation
          td.editorDelete
            img(src='/images/badge_minus.png')
