mixin editEmployment
  div.cvSection
    table#cvSectionEmployment(data-record=cv.employment._id, data-section='employment')
      tr.editorSectionTitleRow
        th.editorColumnVisible.editorAdd
        th.editorSectionTitle(colspan=3)
          div.editorSectionTitleUnderline= cv.employment.title
        th.editorDelete
      each item in cv.employment.items
        tr.editorTableRow(data-record=item._id,data-id=id.next())
          td.editorColumnVisible
            input(id='visible_' + id.prev(), type='checkbox', checked=item.visible)
          td.editorColumn.editorColumnEmploymentName
            span.editorClickable(data-id='name')= item.name
          td.editorColumnBlank
            span.editorClickable(data-locked=true)
          td.editorColumn.editorColumnEmploymentTitle
            span.editorClickable(data-id='title')= item.title
          td.editorDelete
            img(src='/images/badge_minus.png')
        tr.editorTableRow(data-id=id.prev())
          td.editorColumnVisible
          td.editorColumn.editorColumnEmploymentDateFrom
            span.editorClickable(data-id='from', data-edit='date', data-format='longMonthYear', data-raw=item.from)
          td.editorColumnBlank
            span.editorClickable(data-locked=true)= ' - '
          td.editorColumn.editorColumnEmploymentDateTo
            span.editorClickable(data-id='to', data-edit='date', data-format='longMonthYear', data-raw=item.to)
        tr.editorTableRow(data-id=id.prev())
          td.editorColumnVisible
            input(id='description_' + id.prev(), type='checkbox', checked=item.visible)
          td.editorColumn(colspan=3).editorEmploymentColumnDescription
            span.editorClickable(data-id='description', data-edit='large')= item.description
      tfoot
        tr
          td.editorAdd(colspan=3)
            img(src='/images/badge_plus.png')