mixin editPersonal
  div.cvSection
    table#cvSectionPersonal(data-columns=2)
      tr
        th.editorColumnVisible.editorAdd
          img(src='/images/badge_plus.png')
        th.editorSectionTitle(colspan=2)= info.personal.title
      each item in info.personal.values
        tr(data-id=item.id)
          td.editorColumnVisible
            input(id='visible_' + item.id, type='checkbox', checked=item.visible)
          td.editorColumnPersonalName
            span.editorClickable(data-id='name_' + item.id)= item.name
          td.editorColumnPersonalValue
            span.editorClickable(data-id='value_' + item.id)= item.value
          td.editorDelete
            img(src='/images/badge_minus.png')
