mixin editPersonal
  div.cvSection
    table#cvSectionPersonal(data-record=cv.personal._id, data-section='personal')
      tr.editorSectionTitleRow
        th.editorColumnVisible.editorAdd
          img(src='/images/badge_plus.png')
        th.editorSectionTitle(colspan=2)
          div.editorSectionTitleUnderline= cv.personal.title
        th.editorDelete
      each item in cv.personal.items
        tr.editorTableRow(data-record=item._id,data-id=id.next())
          td.editorColumnVisible
            input(type='checkbox', checked=item.visible)
          td.editorColumn.editorColumnPersonalName
            span.editorClickable(data-id='name')= item.name
          td.editorColumn.editorColumnPersonalValue
            span.editorClickable(data-id='value')= item.value
          td.editorDelete
            img(src='/images/badge_minus.png')
