mixin editPersonal
  div.cvSection
    table#cvSectionPersonal(data-append='name:editorColumnPersonalName,value:editorColumnPersonalValue', data-mode='last')
      tr
        th.editorColumnVisible.editorAdd
          img(src='/images/badge_plus.png')
        th.editorSectionTitle(colspan=2)= info.personal.title
        th.editoreDelete
      each item in info.personal.items
        tr(data-id=id.next())
          td.editorColumnVisible
            input(id='visible_' + item.id, type='checkbox', checked=item.visible)
          td.editorColumnPersonalName
            span.editorClickable(data-id='name')= item.name
          td.editorColumnPersonalValue
            span.editorClickable(data-id='value')= item.value
          td.editorDelete
            img(src='/images/badge_minus.png')
