mixin header
  include ./loginbox
  include ./registrationbox

  div#header
    div#headertext= site.title

    // Navigation...

    - let currentItem;
    div.headerNavigation
      span
        each item in site.map
          - let isCurrentPage = isMapLink(req.path, item);
          - let linkClass = isCurrentPage ? "headerNavLinkSelected" : "headerNavLinkUnselected";
          - let linkPath = isCurrentPage ? undefined : item.path;
          if (isMapItemVisible(req.session, item) && (! item.hidden))
            if item.class
              - linkClass += " " + item.class;
            a(href=linkPath, class= linkClass, disabled= isCurrentPage) #{item.name}

          if isCurrentPage
            - currentItem = item;

    if ((currentItem && currentItem.menu) || site.showMenuEmpty) && (site.showMenuAlways || isLoggedIn(req))
      div.headerNavigationMenu
        span
          if currentItem && currentItem.menu
            each menuItem, index in currentItem.menu
              - let menuItemClass = index === 0 ? "headerNavMenuSelected" : "headerNavMenuUnselected";
              a(class=menuItemClass, data-index=index)= menuItem.name
          else
            | &nbsp;


  // Banner image (if any)...

  if site.image
    img#headerPicture(src=site.image)

  // Login/Logout...

  div#loginBubble
    div#loginBubbleText
      if ! req.session.user
        | login
      else
        | logout

  if ! req.session.user
    +loginbox
    +registrationbox

    script.
      console.log("header.pug : logged out");

  else
    script.
      console.log("header.pug : logged in");

      $(function() {
        $("#loginBubble").click(function() {
            $.ajax({
                url: "/login",
                method: "DELETE"
            })
            .done((data, status) => {
                console.log("logged out");
                $.redirect("/");
            });
        });
      });
