mixin viewPersonal

  if cv.personal && cv.personal.items && cv.personal.items.length
    div.cvSection
      table#cvSectionPersonal(data-record=cv.personal._id, data-section='personal')
        tr.editorSectionTitleRow
          th.editorSectionTitle(colspan=2)
            div.editorSectionTitleUnderline= cv.personal.title
        each item in cv.personal.items
          tr.editorTableRow(data-record=item._id)
            td.editorColumn.editorColumnPersonalName
              span.editorClickable(data-id='name')= item.name
            td.editorColumn.editorColumnPersonalValue
              span.editorClickable(data-id='value')= item.value

    div.cvSpacer
  else
    //- no personal section defined