mixin viewEducation
  div.cvSection
    table#cvSectionEducation(data-record=cv.education._id, data-section='education')
      tr
        th.editorSectionTitle(colspan=3)= cv.education.title
      each item in cv.education.items
        tr(data-record=item._id,data-id=id.next())
          td.editorColumnEducationName
            span.editorClickable(data-id='name')= item.school
          td.editorColumnEducationCourse
            span.editorClickable(data-id='course')= item.course
          td.editorColumnEducationGraduation
            span.editorClickable(data-id='graduation', data-edit='date', data-format='longMonthYear', data-raw=item.graduation)
